.forgot-my-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: black;
  background-color: #24394d;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-around;
}
